body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.form-container h2, .form-container h3 {
    text-align: center;
    margin: 0 0 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], input[type="email"], select, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.signature, .date {
    display: flex;
    justify-content: space-between;
}

.date input {
    width: 30%;
}

#output {
    max-width: 100px;
    max-height: 100px;
    border-radius: 0; /* Shape to square */
    float: left; /* Align left */
}

form-container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
