body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    position: relative;
}

.centered-logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.form-container h2, .form-container h3 {
    text-align: center;
    margin: 0 0 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
    margin-bottom: 20px;
    width: 100%;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="date"], input[type="email"], select, input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo {
    margin-left: 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 0%; /* Change to 50% for round shape */
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.signature, .date {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.date input {
    width: 30%;
}
